/* Color Features */

:root {
    --light-gray: #F5F5F5;
    --medium-gray: #EBEBEB;
    --dark-gray: #D7D7D7;
    --navbar-red: #E00024;
    --footer-gray: #959595;

}

.light-gray {
    background-color: var(--light-gray);
}

.medium-gray {
    background-color: var(--medium-gray);
}

.dark-gray {
    background-color: var(--dark-gray);
}

.navbar-red {
    background-color: var(--navbar-red);
}

.footer-gray {
    background-color: var(--footer-gray);
}

/* Radius Features */
.section-radius {
    border-radius: 10px;
}


a{
    text-decoration: none !important;
}

.btn-basket {
    border: 1px solid var(--dark-gray);
}

/* Header Section */


.icon-custom{
    color: white !important;
}

form {
    border-radius: 5px;
    width:100%;
    overflow: hidden;
}

.input-group-prepend .input-group-text {
    border-radius: 50px;
}

.search-input {
    min-height: 3rem;
    width:100%;
    border-radius: 50px;
}


/* Navbar */

.navbar-menu {
  text-align: center;
  width: 100%;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}


.nav-toggle-label {
  color: #000 !important;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--medium-gray);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


nav a {
  color: rgb(139, 134, 134);
  text-decoration: none;
  font-size: 1.2rem;
  opacity: 0;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  .navbar-menu {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  
  .logo {
    grid-column: 2 / 3;
  }
  
  nav {
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
  }
  
  nav a {
    opacity: 1;
    position: relative;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
}

/* Header Buttons */


.header-button-signup {
    margin: 0 10px;
    width: 20rem;
    height: 3rem;
    border-radius: 50px;
    line-height: 18px;
}

.header-button {
    margin: 0 10px 0 0;
    width: 10rem;
    height: 3rem;
    border-radius: 50px;
}

.number-class {
    border-radius: 50px;
    border: none;
}


/* Discount Section */



.slick-slider {
    position: relative;
    height: 100%;
}


.slick-slider .product {
    position: relative;
    overflow: hidden;
}

.slick-slider .product img {
    width: 90%;
    margin: auto;
}

.site-btn.btn-span {
    padding: 0.8rem 1.9rem;
    border-radius: 4rem;
    border: 1px solid var(--border);
    background-color: white;
    color: var(--light-gray);
}


.position-top-prev {
    position: absolute;
    top: 45%;
    left: 0%;
    right: auto;
}
.position-top-next {
    position: absolute;
    top: 45%;
}
.position-top {
    position: absolute;
    top: 45%;
}

.right-0 {
    right: 0;
}

/* Reference Slider */
.reference-text {
    font-size: 1.2rem;
}

/*  */

.items {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.item {
    height: 11rem;
    border: none;
    margin: 1%;
}

.text-font{
    text-align: center;
    font-size: 0.6rem;
    line-height: 12px;
    text-indent: 15px;
    font-weight: 600;
}

.text-font-bold {
    text-align: center;
    font-size: 0.7rem;
    font-weight: 900;
    line-height: 12px;
    text-indent: 15px;
}

/* Brand Section */

.brand-list {
    margin: 0;
    padding: 0;
}

.brand-list li {
    list-style: none;
}

.brand-bold {
    font-size: 15px;
    font-weight: 600;
}

/* Brand Slider */
.brand-slider div img{
    margin: auto;
}

.icon-position {
    position: relative;
    margin-right: 10px;
}

.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1rem 0;
    list-style-type: none;
    position: absolute;
    top: 90%;
    bottom: 0;
    right: 30%;
}

.slick-dots li {
    margin: 0 0.6rem;
}

.slick-dots button {
    display: block;
    width: 0.7rem;
    height: 0.7rem;
    padding: 0;
    border: 1px solid var(--dark-gray);
    background-color: white;
    text-indent: -99999px;
    border-radius: 100%;
}

.slick-dots li.slick-active button {
    transform: scale(1.5);
    background-color: var(--dark-gray);
}

/* Opportunity Slider */
.grid-structure {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
}